In [ ]:
### This notebook use Google Route API to download the edge features (including highway segment geometries)

In [2]:
import pandas as pd

sensors = pd.read_csv('sensors_498.csv')
nodes = pd.read_csv('node_coordinates.csv')

In [12]:
import requests  
import json  

def route_api(o_lat, o_lon, d_lat, d_lon):
    """
    Call google API for driving route
    distance, duration, toll fee
    """
    url = 'https://routes.googleapis.com/directions/v2:computeRoutes'  
    headers = {  
        'Content-Type': 'application/json',  
        'X-Goog-Api-Key': 'AIzaSyCZ1nDT4xWee8b-eSMOttgO6SEwMfvI6BY',  
        'X-Goog-FieldMask': 'routes.duration,routes.distanceMeters,routes.polyline.encodedPolyline'  
    }  
    data = {  
        "origin": {  
            "location": {  
                "latLng": {  
                    "latitude": o_lat,  
                    "longitude": o_lon
                }  
            }  
        },  
        "destination": {  
            "location": {  
                "latLng": {  
                    "latitude": d_lat,  
                    "longitude": d_lon
                }  
            }  
        },  
        "travelMode": "DRIVE",  
        # "extraComputations": ["TOLLS"],
        # "routingPreference": "TRAFFIC_AWARE",
        # "departureTime": "2023-10-15T15:01:23.045123456Z",
        "computeAlternativeRoutes": False,  
        "routeModifiers": {  
            "avoidTolls": False,  
            "avoidHighways": False,  
            "avoidFerries": False  
        },  
        "languageCode": "en-US",  
        "units": "IMPERIAL"  
    }  
      
    response = requests.post(url, headers=headers, data=json.dumps(data))  
    if response.status_code == 200:  
        result = response.json()  
        return result['routes'][0]
    else:  
        print('请求失败')
        print(response.json())

In [16]:
distance = []
duration = []
polyline = []

In [17]:
for i in range(len(sensors)):
    o = sensors['Origin'][i]
    d = sensors['Destination'][i]
    o_lat = nodes[nodes['Node_Id'] == o]['Latitude'].tolist()[0]
    o_lon = nodes[nodes['Node_Id'] == o]['Longitude'].tolist()[0]
    d_lat = nodes[nodes['Node_Id'] == d]['Latitude'].tolist()[0]
    d_lon = nodes[nodes['Node_Id'] == d]['Longitude'].tolist()[0]
    result = route_api(o_lat, o_lon, d_lat, d_lon)
    distance.append(result['distanceMeters'])
    duration.append(result['duration'])
    polyline.append(result['polyline']['encodedPolyline'])
    print(i)

0
1
2
3
4
5
6
7
8
9
10
11
12
13
14
15
16
17
18
19
20
21
22
23
24
25
26
27
28
29
30
31
32
33
34
35
36
37
38
39
40
41
42
43
44
45
46
47
48
49
50
51
52
53
54
55
56
57
58
59
60
61
62
63
64
65
66
67
68
69
70
71
72
73
74
75
76
77
78
79
80
81
82
83
84
85
86
87
88
89
90
91
92
93
94
95
96
97
98
99
100
101
102
103
104
105
106
107
108
109
110
111
112
113
114
115
116
117
118
119
120
121
122
123
124
125
126
127
128
129
130
131
132
133
134
135
136
137
138
139
140
141
142
143
144
145
146
147
148
149
150
151
152
153
154
155
156
157
158
159
160
161
162
163
164
165
166
167
168
169
170
171
172
173
174
175
176
177
178
179
180
181
182
183
184
185
186
187
188
189
190
191
192
193
194
195
196
197
198
199
200
201
202
203
204
205
206
207
208
209
210
211
212
213
214
215
216
217
218
219
220
221
222
223
224
225
226
227
228
229
230
231
232
233
234
235
236
237
238
239
240
241
242
243
244
245
246
247
248
249
250
251
252
253
254
255
256
257
258
259
260
261
262
263
264
265
266
267
268
269
270
271
272
273
274
275
276
277
278
279
280
281
282
283
284
285
286
287
288
289
290
291
292
293
294
295
296
297
298
299
300
301
302
303
304
305
306
307
308
309
310
311
312
313
314
315
316
317
318
319
320
321
322
323
324
325
326
327
328
329
330
331
332
333
334
335
336
337
338
339
340
341
342
343
344
345
346
347
348
349
350
351
352
353
354
355
356
357
358
359
360
361
362
363
364
365
366
367
368
369
370
371
372
373
374
375
376
377
378
379
380
381
382
383
384
385
386
387
388
389
390
391
392
393
394
395
396
397
398
399
400
401
402
403
404
405
406
407
408
409
410
411
412
413
414
415
416
417
418
419
420
421
422
423
424
425
426
427
428
429
430
431
432
433
434
435
436
437
438
439
440
441
442
443
444
445
446
447
448
449
450
451
452
453
454
455
456
457
458
459
460
461
462
463
464
465
466
467
468
469
470
471
472
473
474
475
476
477
478
479
480
481
482
483
484
485
486
487
488
489
490
491
492
493
494
495
496
497

In [18]:
sensors['Distance (m)'] = distance
sensors['Duration (s)'] = duration
sensors['Polyline'] = polyline

In [20]:
# Assuming the DataFrame is named 'sensor_df'
sensors['Duration (s)'] = sensors['Duration (s)'].str.replace('s', '').astype(float)

In [22]:
# Convert Distance (m) to kilometers
sensors['Distance (m)'] = sensors['Distance (m)'] / 1000

# Rename the column to Distance (km)
sensors.rename(columns={'Distance (m)': 'Distance (km)'}, inplace=True)

In [27]:
sensors.head()

,Id,Name,Description,Longitude,Latitude,Status,Origin,Destination,Comment,Distance (km),Duration (s),Polyline
0,8825,TMU Site 9755/2 on link A1 northbound between ...,9755/2,-1.712094,55.264736,Active,1,0,NaN,103.415,4301.0,agrnIv`jIIJi@fDu@zG\HVCf@Qd@s@RQd@Kz@\xAnAhElB...
1,8826,TMU Site 9755/1 on link A1 southbound between ...,9755/1,-1.712031,55.264763,Active,0,1,NaN,102.538,4232.0,ainsIhpiKRR|ElIfDjG~FrL|C`HbCrGfBfFHf@jMh_@hFf...
2,8851,TMU Site 9817/2 on A69 eastbound between B6322...,9817/2,-2.396705,54.971136,Active,2,1,NaN,84.922,3771.0,iw`nI|bsP_@{@_@i@U{@KoACwBF{@Fe@Tg@TiAHgAAwA]a...
3,8852,TMU Site 9817/1 on link A69 westbound between ...,9817/1,-2.396689,54.971092,Active,1,2,NaN,85.209,3820.0,agrnIv`jIIJi@fDu@zGUI[LaAlHgBdP}@fJYtBmA~LoDnc...
4,8744,TMU Site 9502/1 on link M6 northbound between ...,9502/1,-3.002612,54.969402,Active,2,3,NaN,15.644,548.0,iw`nI|bsP_@{@_@i@u@c@mCWqE[wDBeH`@oCRQEaIxAaCp...

In [28]:
nodes.head()

   Node_Id   Latitude  Longitude
0        0  55.784114  -2.020125
1        1  54.984839  -1.695175
2        2  54.895714  -2.888697
3        3  54.991756  -3.045025
4        4  54.653318  -2.760416

In [29]:
import geopandas as gpd
from shapely.geometry import Point
import pandas as pd
from pyproj import CRS, Transformer

# Assuming `sensors` and `nodes` are the DataFrames
# Create a GeoDataFrame for nodes
nodes['geometry'] = gpd.points_from_xy(nodes['Longitude'], nodes['Latitude'])
nodes = gpd.GeoDataFrame(nodes, geometry='geometry', crs='EPSG:4326')

# Transform to EPSG:27700
transformer = Transformer.from_crs('EPSG:4326', 'EPSG:27700', always_xy=True)
nodes['geometry'] = nodes['geometry'].apply(lambda point: Point(transformer.transform(point.x, point.y)))

# Map node geometries to Origin and Destination
nodes_map = nodes.set_index('Node_Id')['geometry']

# Add geometries for Origin and Destination to sensors
sensors['Origin_geom'] = sensors['Origin'].map(nodes_map)
sensors['Destination_geom'] = sensors['Destination'].map(nodes_map)

# Calculate straight-line distance in EPSG:27700
sensors['Straight_line_distance'] = sensors.apply(
    lambda row: row['Origin_geom'].distance(row['Destination_geom']) / 1000, axis=1
)

# Calculate detour factor
sensors['Detour_factor'] = sensors['Distance (km)'] / sensors['Straight_line_distance']

# Calculate average speed (km/h)
sensors['Average_speed (km/h)'] = sensors['Distance (km)'] / (sensors['Duration (s)'] / 3600)

# Drop unnecessary geometry columns if needed
sensors.drop(columns=['Origin_geom', 'Destination_geom'], inplace=True)

# Output the updated DataFrame
sensors[['Id', 'Average_speed (km/h)', 'Detour_factor']]

        Id  Average_speed (km/h)  Detour_factor
0     8825             86.559870       1.132653
1     8826             87.225142       1.123048
2     8851             81.071122       1.101388
3     8852             80.301675       1.105111
4     8744            102.770803       1.068061
..     ...                   ...            ...
493  10700             77.369958       1.631599
494  10726             81.351026       1.627270
495  18388             69.876416       1.611692
496  18526             88.867255       2.553408
497  14038             85.104000       1.379526

[498 rows x 3 columns]

In [32]:
sensors.to_csv('edge_features.csv', index=False)